.index2{
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  background-color: #ffffff;
  color: #ffffff;
  font-size: 20px;
  text-align: center;
  background-image: url('/imagenes/imagen_login.jpg');
  background-repeat: no-repeat;
  background-size: 100% auto;
  justify-content: center;
  align-items: center;
}
#ingreso
{
  display: flex;
  flex-direction: column;
  align-items: center;
}


.index3{
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  background-color: #ececec;
  color: #FFD700;
  padding: 10px;
  background-image: url('/imagenes/escudo_bokita.png');
  background-repeat: repeat; 
  background-size: 100px 110px; 
  display: flex;
  justify-content: center;
}
#formularioboca {
  background-color: black;
  width: 1000px;
  padding: 5px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: left;
  align-items:center;
  max-width: 1000px;
}
#logo {
  max-width: 100px; 
  height: auto;
  margin-bottom: 25px;
  
}
.sexo-linea {
  display: flex;
}

.index4{
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  background-color: #ececec;
  color: #FFD700;
  padding: 10px;
  background-image: url('/imagenes/escudo_bokita.png');
  background-repeat: repeat; 
  background-size: 100px 110px; 
  display: flex;
  justify-content: center;
  padding-left: 15px;
  

}
#pagoEntrada{
    background-color: black;
  width: 1000px;
  padding: 5px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: left;
  align-items:center;
  max-width: 1000px;
}
.Entrada{
  display: flex;
  font-size: 10px;
}

input, select {
  padding: 8px;
  width: 60%;  
}

button {
  background-color: #FFD700; 
  color: #00008B; 
  padding: 5px 21px;
  border-radius: 2px;
  height: 28px;
  width: auto;
  text-align: center;
  

}




